<section class="about-area about-area-three">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                Theme Module Hello {{ name }}
            </div>2227
            {{ dataGrid({
                'dataProvider': dataProvider,
                'filterModel': searchModel,
                'columns': [
                'name',
                'description',
                {
                    'class': 'Stelssoft\\YiiCmsCore\\grid\\ActionColumn',
                    'contentOptions': {'style': 'width: 160px;'}
                },
                ],
            }) }}
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div>
                Test Form434 844
            </div>
            {{ formBegin(testForm, {method: 'post', action: '', id: 'my-form', options: {class: 'inline'}}) }}
                {{ formField('name', {type: 'text'}) }}
                {{ formField('email', {type: 'email'}) }}
                {{ formField('subject', {type: 'subject'}) }}
                {{ formField('body', {type: 'textarea'}) }}
                {{ formField('agree', {type: 'checkbox'}) }}
                {{ formField('file', {type: 'file'}) }}
                <button type="submit">Save</button>
            {{ formEnd() }}
            Form 2
            {{ formBegin(testForm2, {method: 'post', action: '', id: 'my-form', options: {class: 'inline'}}) }}
                {{ formField('name', {type: 'text'}) }}
                {{ formField('email', {type: 'email'}) }}
                {{ formField('subject', {type: 'subject'}) }}
                {{ formField('body', {type: 'textarea'}) }}
                {{ formField('agree', {type: 'checkbox'}) }}
                {{ formField('list', {type: 'select', list: {'0': 'No', '1': 'Yes'}}) }}
                <button type="submit">Save</button>
            {{ formEnd() }}
            qqqq
        </div>
    </div>
</section>
