<section class="about-area about-area-three">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                Module Hello {{ name }}
            </div>222
            {{ dataGrid({
                'dataProvider': dataProvider,
                'filterModel': searchModel,
                'columns': [
                    'name',
                    'description',
                    {
                        'class': 'Stelssoft\\YiiCmsCore\\grid\\ActionColumn',
                        'contentOptions': {'style': 'width: 160px;'}
                    },
                ],
            }) }}
        </div>

        <div class="row">
            <div class="col-md-6">
                Test Form
            </div>222
            {{ formBegin(testForm, {method: 'post', action: '', id: 'my-form', options: {class: 'inline'}}) }}
                {{ formField('name', {type: 'text'}) }}
                {{ formField('email', {type: 'email'}) }}
                {{ formField('subject', {type: 'subject'}) }}
                {{ formField('body', {type: 'textarea'}) }}
                {{ formField('agree', {type: 'checkbox'}) }}
                {{ formField('file', {type: 'file'}) }}
                 <button type="submit">Save</button>
            {{ formEnd() }}

            {{ formBegin(testForm, {method: 'post', action: '', id: 'my-form', options: {class: 'inline'}}) }}
                {{ formField('name', {type: 'text'}) }}
                {{ formField('email', {type: 'email'}) }}
                {{ formField('subject', {type: 'subject'}) }}
                {{ formField('body', {type: 'textarea'}) }}
                {{ formField('agree', {type: 'checkbox'}) }}
                {{ formField('file', {type: 'file'}) }}
                <button type="submit">Save</button>
            {{ formEnd() }}
        </div>
    </div>
</section>
